model:
  pretrained_clip_name: "ViT-B/32"
  freeze_layer_num: 0
  linear_patch: "2d" # linear projection of flattened patches. ["2d", "3d"]
  sim_header: "seqTransf" # choice a similarity header. ["meanP", "seqLSTM", "seqTransf", "tightTransf"]
  cross_model: "cross-base"
  loose_type: True
  cross_num_hidden_layers: 4

datasets:
  data_type: "didemo"
  data_path: "data/datasets/didemo/Annotations"
  video_path: "data/datasets/didemo/VideoData"

  num_thread_reader: 8
  max_words: 64
  max_frames: 64
  feature_framerate: 1
  train_frame_order: 0 # Frame order, 0: ordinary order; 1: reverse order; 2: random order.
  eval_frame_order: 0
  slice_framepos: 2 # "0: cut from head frames; 1: cut from tail frames; 2: extract frames uniformly."


distillation:
  beta: 1.0
  distill_method: "pear"
  fine_method: "ce"
  teacher_num: 1
  teacher1_name: "XCLIP"
  init_teacher1_model: "data/teacher_checkpoints/xclip/didemo_xclip_model.bin"

train:
  overwrite: False
  seed: 42
  lr: 0.0001
  coef_lr: 0.001
  epochs: 10
  batch_size: 64
  batch_size_val: 16
  lr_decay: 0.9
  n_display: 10
  warmup_proportion: 0.1
  gradient_accumulation_steps: 1
  output_dir: "data/datasets/didemo/Saves/xclip-as-teacher_vit32"

eval:
  init_model: "" # best model checkpoint for evaluation